$primary-color: #76ff03;
$primary-dark-color: #32cb00;
$primary-light-color: #b0ff57;
$secondary-color: #ff4081;
$secondary-dark-color: #c60055;
$secondary-light-color: #ff79b0;
.mat-button{
  width: 15px;
}
.form-content {
  padding: 20px 50px 20px 50px;
  display: flex;
    flex-direction: column;
}

.form-player {
  display: block;
  background: white;
}
.form-player, .table-composition{
  width: 600px;
}
.form-player-body{
  padding: 30px;
  display: flex;
    flex-direction: column;
}
.form-player, .table-composition{
  margin: 16px;
}

.form-calendar-header, .form-player-header {
  background: #f2f2f2;
  height: 40px;
  padding: 8px 20px;
  font-size: 16px;
  color: grey;
}
.table-composition-body{
  background: white;
  height: 343px;
    overflow: auto;
}
.table-composition-header {
  background: #f2f2f2;
  height: 40px;
  padding: 8px 20px;
  font-size: 16px;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
button{
  align-self: flex-end;
  width: 210px;
}
table{
  width: 100%;
}
