<app-page-header></app-page-header>
<div class="form-content">
  <form [formGroup]="calendarForm" #formDirective="ngForm" (ngSubmit)='onSubmitForm(form,formDirective)'>

    <div class="form-calendar">
      <mat-toolbar><span>Заполните календарь игр</span></mat-toolbar>

      <div class="form-calendar-body">

        <mat-accordion class="calendar-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Дата и время проведения матча
              </mat-panel-title>
              <mat-panel-description>
                Выберите дату и время проведения матч
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Форма выбора даты -->
            <app-calendar-form [parentForm]="calendarForm" (outputIsPastDate)="compareDate($event)">
            </app-calendar-form>
            <app-time-picker (inputTimeChange)="updateTime($event)" [inputTime]="inputTime"></app-time-picker>
            <mat-action-row>
              <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Состав команды
              </mat-panel-title>
              <mat-panel-description>
                Выберите состав команды
                <mat-icon>people</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-composition-form [parentForm]="calendarForm" [inputPlayers]="players" (onChangeMainAllPurpose)="updateMainAllPurpose($event)"></app-composition-form>
            <mat-action-row>
              <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Команда соперника
              </mat-panel-title>
              <mat-panel-description>
                Заполните состав команды соперника
                <mat-icon>person</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-oponent-form [parentForm]="calendarForm"></app-oponent-form>
            <mat-action-row>
              <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type="button" (click)="nextStep()"
                [disabled]="!isPastDate">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [disabled]="!isPastDate" [expanded]="step === 3" (opened)="updatePlayersGoals()"
            hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Протокол матча
              </mat-panel-title>
              <mat-panel-description>
                Заполните протокол матча
                <mat-icon>description</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-protocol-form [parentForm]="calendarForm" [playersCards]="playersCards"
              [ownPlayersGoals]="ownPlayersGoals" [oponentPlayersGoals]="oponentPlayersGoals" (onChangedScore)="updateScore($event)"></app-protocol-form>
            <mat-action-row>
              <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="form-bottom" *ngIf="!id">
        <button mat-raised-button color="accent" type="submit">
          <mat-icon style="font-size: 20px">add_circle_outline</mat-icon> Добавить данные о матче
        </button>
      </div>

      <div class="form-bottom" *ngIf="id">
        <button mat-raised-button color="accent" type="submit">
          <mat-icon style="font-size: 20px">add_circle_outline</mat-icon> Сохранить изменения
        </button>
      </div>
    </div>
  </form>

</div>