
  <div class="container result">
    <div class="lastGame">
      <h2>Предыдущие игры</h2>
      <div class="game">
        <p>
          <span class="data">Дата</span>
          <span class="separate"> | </span>
          <span class="tournament">Турнир</span>
        </p>
        <div class="game-info container">
          <div class="owner">РИВ ГОШ</div>
          <div class="count">0:0</div>
          <div class="guest">FC</div>
        </div>
      </div>
    </div>
    <div class="futureGame">
      <h2>Следующие игры</h2>
      <div class="game">
        <p><span class="data">Дата</span>
          <span class="separate"> | </span>
          <span class="tournament">Турнир</span>
        </p>
        <div class="game-info container">
          <div class="owner">РИВ ГОШ</div>
          <div class="count">0:0</div>
          <div class="guest">FC</div>
        </div>
      </div>
    </div>