$primary-color: #f456c4;
$secondary-color:#56f485;
.intro{
  background: #C2185B;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 0 2px black;
    
}
.logo {
  padding-left: 20px;
  height: 50px;
  width: 50px;
}
.main-nav-bar {
  background: #76FF03;
  margin-bottom: 30px;
  border-bottom: solid 2px pink;
}
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(241, 247, 240);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  a {
    text-decoration-line: none;
    font-size: 25px;
    color: black;
  }
  font-family: "Lobster", cursive;
  display: block;
  font-size: 40px;
  color: #fcfcfc;
}
.game-info {
  height: 30px;
  color: pink;
}

.game > p {
  color: gray;
  font-size: small;
  text-align: center;
}
.futureGame,.lastGame{
  border: #f456c4 solid 2px;
}
.result{
}
h2{
  color: white;
  font-size: small;
}