.time-picker {
  display: inline-flex;
  justify-content: space-around;
  padding-bottom: 7px;
  margin-left: 20px;
  p {
    height: 18px;
    padding-bottom: 6.125px;
    color: grey;
    margin: 0px;
  }
}
.time-container {
  position: relative;
  right: 0px;
  bottom: 23px;
}

.half-time-picker {
  display: inline-flex;
  flex-direction: column-reverse;
}

span {
  align-self: center;
  height: inherit;
  bottom: 39px;
  position: inherit;
  border-bottom: 1px solid grey;
  font-size: 17px;
  padding-bottom: 7px;
}

.picker {
  padding: 6.125px 0;
  font-weight: 400;
  font-size: 17px;
  -moz-appearance: textfield;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 28px;
  text-align: center;
}
.picker::-webkit-inner-spin-button {
  display: none;
}
// .picker:hover{
//   border: 1px solid blue;
//   margin: 0px;
//   padding-bottom: 5px;

// }

.mat-button {
  padding: 0px;
  height: 24px;
  min-width: 24px;
}

.minus-button {
  margin-top: 5px;
}
.plus-button {
  margin-bottom: 5px;
}
mat-icon {
  pointer-events: none;
}
