<div class="team-list">
  <div class="container">
    <div class="mini list-item">
      <header class="text-center">
        РИВ ГОШ
      </header>
      <div class="trainers-list">
        <h2>Тренерский и руководящий состав</h2>
        <div>тренер</div>
        <div>капитан</div>
        <div>вице-капитан</div>
      </div>
      <div class="players-list">
        <h2>Состав команды</h2>
        <div>{{player.name}}</div>
        <div>Игрок 2</div>
        <div>Игрок 3</div>
      </div>
    </div>
    <div class="mini list-item">
      <header class="text-center">
        РИВ ГОШ - д
      </header>
      <div class="trainers-list">
        <h2>Тренерский и руководящий состав</h2>
        <div>тренер</div>
        <div>капитан</div>
        <div>вице-капитан</div>
      </div>
      <div class="players-list">
        <h2>Состав команды</h2>
        <div>Игрок 1</div>
        <div>Игрок 2</div>
        <div>Игрок 3</div>
      </div>
    </div>
  </div>
      <button mat-raised-button color='accent' [routerLink]="['/control_panel']">
         <mat-icon>create</mat-icon> Управление составом</button>
</div>