$primary-color: #f456c4;
$secondary-color:#56f485;
.intro {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    box-shadow: 0 0 2px black;
    height: auto;
}
    
.team-list{
    background: rgb(190, 190, 74);
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.text-center{
    font-size: 15px;
    color: $secondary-color;
    text-align: center;
}
.logo {
    padding-left: 20px;
    height: 50px;
    width: 50px;
}
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(216, 67, 191);
    color: rgb(241, 247, 240);
  }
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: inherit;
    margin: 20px;
  }
.list-item{
    margin: 10px
}
.text-center{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
}
.team-control{
    display: grid;
    text-decoration: none;
    text-align: center;
    border: solid 2px red;
    color: wheat;
}