<div class="main-title"> Футбольный клуб РИВ ГОШ
  <img class="logo" src="https://cs5-1.4pda.to/6029462.png" alt="">
</div>

<div class="team-list">
  <div class="container">
    <div class="mini list-item">
      <header class="text-center">
        Команда по мини-футболу
      </header>
      <div class="clearfix">
        <div>тренер</div>
        <div>капитан</div>
        <div>вице-капитан</div>
      </div>
    </div>
    <div class="mass list-item">
      <header class="text-center">
        Команда по массовому массовому футболу
      </header>
      <div class="clearfix">
        <div>тренер</div>
        <div>капитан</div>
        <div>вице-капитан</div>
      </div>
    </div>
    <div class="double list-item">
      <header class="text-center">
        Команда по массовому мини-футболу (дубль)
      </header>
      <div class="clearfix">
        <div>тренер</div>
        <div>капитан</div>
        <div>вице-капитан</div>
      </div>
    </div>
  </div>
  <div class="team-control">
    <a href="/control_panel">Управление составом</a>
  </div>
</div>